<!DOCTYPE html>

<html>
	<body>
		<style type="text/css">

		body {
			background-color: #F0F8FF;
			}

		h3 {
			font-family: Verdana;
			color: #0095B6;
			text-align: center;
			font-weight: bold;
		}	

		h5 {
    		display: block;
   			margin-block-start: 1em;
    		margin-block-end: 1em;
			font-weight: bold;
			font-size: 120%; 
			font-family: Verdana;
			color: #008B8B;
		}

		h6 {
			font-family: Arial;
			font-size: 0,5;
			padding: 1em;
			text-align: center;
		}

		span {
			font-family: Verdana;
		}

		h2 {
			font-family: Verdana;
			text-align: center;
			font-weight: bold;
			font-size: 2em;
			color: #CD5C5C;
			padding-top: 1em;
		}

		#header {
			padding: 2em;
			margin: 0em;
			text-align: center;
		}

		#gamer {
			background-color: #F5F5DC;
    		height:480px;
   			width:30%;
    		float:left;
       		text-align: center;
        	}

       	#gamerPack {
        	padding-top: 3em;
       	}

       	#dealPack {
             padding-top: 3em;
       	}
   		
		#dealer {
			background-color:#FDF5E6;
			height:480px;
			width:30%;
    		float:left;
    		text-align: center;
		}

		#space1 {
			background-color:#FDF5E6;
			height:480px;
			width:20%;
    		float:left;
    		text-align: center;
    		font-weight: bold;
    		font-size: 120%;
    		color: #008B8B;
		}

		#space2 {
			background-color:#F5F5DC;
			height:480px;
			width:20%;
    		float:left;
    		text-align: center;
    		font-weight: bold;
    		font-size: 120%;
    		color: #4682B4;
		}

		#footer {
			font-family: Arial Black;
			text-align: center;
			height: 50px;
			padding-top: 5em;
			color: #F08080;	
			font-weight: bold;
			}

			.hidden {
				display: none;
			}

			.hiddenrules {
				display: none;
			}


	</body>

</html>

